@font-face {
  font-family: 'Frutiger';
  src: url('../fonts/FrutigerLTArabicNormal.ttf') format('truetype');
}

@font-face {
  font-family: 'Frutiger Bold';
  src: url('../fonts/FrutigerLTArabicBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Frutiger Light';
  src: url('../fonts/FrutigerLTArabicLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Frutiger Black';
  src: url('../fonts/FrutigerltarabicBlack.ttf') format('truetype');
}